html, body, h1, h2, h3, ul, li {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
}
.detail_container button {
  background: green;
  color: #fff;
  border: none;
  padding: 10px 20px;
  
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}
.detail_container{
  background: #f4f4f4;
  margin: 5px;
  padding: 10px 20px;
}

.detail_container p{
  font-size: 15px;
}
.activity-container{
  position: relative;
  border-radius: 30px;
  background: #f4f4f4;
  
  margin: 5px;
  padding: 10px 20px;
}
.activity-container #text{

  left: 10px;
  
 margin: 0px 0px 0px 20px;
}
.activity-container #phone{
  position: absolute;
  top: 25px;
}

.activity-container b{
  position: relative;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.activity-container span{
  position: relative;
  padding: 10px 0px ;
}
.activity-container #miss{
  top: 27px;
  left: 150px;
 position: absolute;
}
.activity-container #icon{
  position: absolute;  
  top: 23px;
  right: 10px;
  line-height: 100000px;
  font-size: 17px;
 
}
.feed h3{
  font-size: 10px;
}
#numberCircle {
  border-radius: 50%;
  width: 12px;
  height: 12px;
  padding: 8px;
  
  background: red;
  border: 2px solid #666;
  color: white;
  align-items: right;

  font: 32px Arial, sans-serif;
}
body {
  background: #233142;
  font-family: helvetica, arial, sans-serif;
  font-size: 13px;
  color: #333333;
  line-height: 1;
}
